* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url(./image/Gemini_Generated_Image_l9njk2l9njk2l9nj.png);
  background-position: center;
  background-repeat: none;
  background-size: cover;
}
header {
  background-color: black;

  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
}
li {
  font-size: large;
}
section {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 650px;
}
img {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
form {
  display: grid;
}
.produitprincipal {
  gap: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.imageproduit {
  min-width: 40%;
  min-height: 100%;
}
.formulaire {
  background: rgba(255, 255, 255, 0.795);
  padding: 4px;
  border: 1px solid black;
  min-width: 55%;
  min-height: 100%;
  border-radius: 20px;
  display: grid;
}
.infoproduit {
  display: grid;
  min-height: 40%;
}
.couleur {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}
.imageproduit {
  gap: 5px;

  display: grid;
  grid-template-areas:
    " avant avant avant"
    "droit gauche arriere";
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 70% 30%;
}
#avant {
  grid-area: avant;
  min-height: 70%;
}
#droit {
  grid-area: droit;
}
#gauche {
  grid-area: gauche;
}
#arriere {
  grid-area: arriere;
}
#black,
#white,
#blue {
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
#black {
  background-color: rgb(20, 16, 16);
}
#blue {
  background-color: rgb(50, 50, 165);
}
#white {
  background-color: rgb(236, 222, 222);
}
#quantite {
  border: none;
}
div button {
  height: 27px;
  background-color: blue;
  border-radius: 10px;
  border: none;
  color: black;
}
div button:hover {
  height: 45px;
  background-color: white;
  border-radius: 20px;
}
a {
  color: white;
  text-decoration: none;
}
select {
  background: transparent;
}
input {
  background: transparent;
}
input:hover {
  border: none;
}
select {
  border: none;
}
div select {
  min-width: 100%;
  text-align: center;
}
